* {
    padding: 0;
    margin: 0;
}

h3.order-complete {
    padding-top: 25%;
}

p.complete-message {
    line-height: 24px;
    font-size: 20px;
    max-width: 60%;
    left: 20%;
    position: relative;
}

.verify-page {
    position: relative;
}

p.method-title {
    font-size: 24px;
    width: max-content;
}

.action-buttons {
    position: absolute;
    bottom: 16px;
    width: 100%;
}

.e-login-button {
    padding: 4px 16px;
    background: #9b27af;
    color: white;
    border: none;
    min-width: 64px;
    min-height: 36px;
    font-size: 20px;
    border-radius: 4px;
    width: 25%;
}

.ewallet-pay {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex: 80%;
    /* margin-left: 16px; */
    margin-bottom: 32px;
}

input#password {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 4px;
}

input#email {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 4px;
}

.payrow h3 {
    font-size: 24px;
}

.creditcard-pay {
    flex: 80%;
    margin-left: 16px;
    margin-bottom: 32px;
}

.cardholder {
    width: 20%;
}

.billing-page {
    display: flex;
}

.payment-type input {
    display: none;
}

.payment-type {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 20%;
    max-width: 20%;
    min-width: 20%;
}

.payment-type > div {
    flex: 50%;
    padding: 4px;
}

.eighty {
    box-shadow: 0 0 20px #00000055;
    flex: 80%!important;
    z-index: 3;
}

.twenty {
    flex: 20%!important;
    z-index: 2;
}

.payment-type > div > img {
    width: 100%;
    height: 100%;
    object-position: center;
    transition: 300ms;
}

.payment-type > div > input:checked ~ img {
    filter: brightness(0.5);
}

.payment-type>div:hover img {filter: brightness(0.8);}

.checkout-page {
    position: relative;
}

.total {
    margin-bottom: 16px;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    width: max-content;
}

.shopping-button.continue-shopping {
    margin-left: 16px;
    background: #9b27af;
    color: white;
}

.order-complete .action-buttons {
    position: relative;
    top: 16px;
}

.order-complete button {
    position: relative;
}

.shopping-button.continue-shopping:hover {
    background: #69007f;
    color: #fff;
}

.shopping-button {
    padding: 4px 16px;
    border: 1px solid;
    width: max-content;
    min-height: 36px;
    display: inline-block;
    border-color: #9b27af;
    color: #9b27af;
    border-radius: 4px;
    margin-bottom: 16px;
    transition: 300ms;
    cursor: pointer;
    margin-top: 8px;
}

.back-to-main-site:hover {
    color: white;
    background: #9b27af;
}

.next-step {
    background: #9b27af;
    color: white;
    float: right;
}

.next-step:hover {
    background: #69007f;
}

.shopping-button.checkout {
    float: right;
    background: #9b27af;
    color: #fff;
}

.shopping-button.checkout:hover {
    background: #69007f;
}


.shopping-button.clear-shopping {
    float: left;
    color: #ff4336;
    border: 1px solid #F44336;
}

.shopping-button.clear-shopping:hover {
    float: left;
    background: #ff4336;
    color: #fff;
}

.reduce {
    margin-right: 8px;
    cursor: pointer;
}

.add {
    margin-left: 8px;  
    cursor: pointer;
}

.remove {
    width: 100px;
    height: 100px;
    background: #F44336;
    line-height: 100px;
    text-align: center;
    transition: 300ms;
}

.remove:hover {
    background: #a50000;
}

.remove > i {
    font-size: 24px;
    color: #fff;
}

.quantity {
    line-height: 100px;
    font-weight: 400;
    flex: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    height:max-content;
    position: relative;
}

.item-price {
    line-height: 100px;
    font-weight: 600;
    width: 100px;
    max-width: 100px;
    text-align: center;
}

.item-title {
    margin-left: 16px;
    font-size: 24px;
    width: 700px;
    max-width: 700px;
    line-height: 100px;
}

.display-image {
    background: url("../../src/news/Paragon.jpg");
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
}

.cart-item {
    display: flex;
    height: 100px;
    background: #fff;
    margin-bottom: 32px;
}

.step {
    margin-right: 16px;
    padding: 4px 16px;
    border: 1px solid #9990;
    border-radius: 4px;
    transition: 900ms;
}

.steps {
    display: flex;
    margin-bottom: 32px;
    padding-bottom: 8px;
    border-bottom: 2px solid #999;
}

.title {
    padding-top: 16px;
}

.title {
    font-size: 24px;
}

.done {
    background: #9b27af;
    color: #fff;
}

.container {
    width: 1400px;
    background: #efefef;
    margin-top: 84px;
    margin-bottom: 32px;
}

.parallax-background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../../src/cart/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

body, html {
    height: 100%;
}
/*  */

.payrow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

.ewallet-pay .col-50 {
    width: 50%;
    max-width: 50%;
}
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 4px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .default {
    min-height: 80vh;
    position: relative;
  }

.default.order-complete {
    text-align: center;
}

  .pay-height {
      height: 60vh;
  }