* {
    padding: 0;
    margin: 0;
}
html, body {
    font-size: 100%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1366px){
    html {
        font-size: 75%;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px){
    html {
        font-size: 87.5%;
    }
}

div {
    height: 100%;
    width: 100%;
}


.primary-content  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 800ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

.secondary-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 800ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}

.primary-content-previous {
    top: -100%;
}

.primary-content-next {
    top: 100%;
}

.primary-content-current {
    top: 0%;
}

.secondary-content-previous {
    left: -100%;
    transform: scale(1.2);
}

.secondary-content-current {
    left: 0%;
}

.secondary-content-next {
    left: 100%;
}

nav.navigation-menu {
    width: 60%;
    height: 100%;
    background: #ffffffaa;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 400ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;
}

nav.navigation-menu.navigation-active {
    left: 0;
}

.navigation-top {
    height: 10%;
    background: #00000033;
}



.main-menu {
    height: 75%;
    column-count: 2;
    display: inline-flex;
    flex-flow: column wrap;
    background: #00000044;
}

@media only screen and (max-height: 550px) and (min-width: 768px){
    .main-menu {
        column-count: 3;
    }
}

.menu-item {
    height: initial;
    width: max-content;
    display: inline-grid;
    margin: 0 0 10px 0;
    padding-left: 10px;
    font-size: 1.5rem;
}

.menu-title {
    font-size: 3.5rem;
    text-decoration: none;
    color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    
}

@media only screen and (min-width: 992px) and (max-width: 1366px){
    .menu-title {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px){
    
}

.menu-title:hover {
    text-decoration: none;
    color: #ffffff;
}

.menu-sub-item {
    color:#ffffff99;
    font-size: 1.6rem;
    padding-left: 2rem;
    transition-duration: 400ms;
}

.menu-sub-item:hover {
    text-decoration: none;
    color: #ffffff;
}

.footer {
    height: 15%; 
    background: #00000055;
}

.logo {
    width: 60%;
    background: #00000044;
}

.login-signup {
    width: 40%;
    display: flex;
    background: #00000055;
    
}

.login-icon {
    background: red;
    height: 40%;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.login-text {
    color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
}

.signup-text {
    color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
}

.signup-icon {
    background: blue;
    height: 40%;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.logo-item {
    min-width: 20%;
    min-height: 40%;
    max-width: 60%;
    max-height: 80%;
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    background: yellowgreen;
}

.primary-content-navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5%;
    max-width: 20%;
    max-height: 60%;
    z-index: 100;
}

.primary-nav-section {
    height: initial;
    width: max-content;
    margin: 0;
    margin-left: auto;
}

.secondary-content-navigation {
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    display: inline-flex;
    z-index: 2;
    height: max-content;
    width: max-content;
}

.secondary-navigation {
    width: 50px;
    height: 50px;
    background: #00000055;
    margin-left: 25px;
    cursor: pointer;
    transition: 400ms;
    border-radius: 0.6rem;
}

.secondary-navigation:hover {
    background: #00000088;
}

.secondary-navigation:hover i{
    color: #ffffff!important;
}

.transitioning:before {
    color: #ffffff!important;
    font-family: "Font Awesome 5 Free";
    content: "\f04c";
}

.paused:before {
    color: #999999!important;
    font-family: "Font Awesome 5 Free";
    content: "\f04b";
}

.secondary-navigation i{
    font-size: 25px;
    color: #999999;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary-navigation-previous i, .secondary-navigation-next i{
    font-size: 40px;
}

.section-switch-tooltip {
    display: inline-flex;
    justify-content: end;
    min-width: max-content;
    margin-bottom: 8px;
    transition: 400ms;
}

.section-switch-tooltip:hover .section-icon {
    background: #00000088;
    transform: scale(1);
}

.section-switch-tooltip:hover .section-title {
    opacity: 1;
    transform: scale(1);
}

.section-icon {
    background: #00000055;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    transition: 400ms;
    transform: scale(0.7);
    cursor: pointer;
}

.section-title {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
    color: #ffffff;
    background: #00000033;
    padding: 5%;
    border-radius: 5%;
    transition: 400ms;
    opacity: 0;
    transform-origin: 150%;
    transform: scale(0);
    cursor: pointer;
    display: inline-block;
}

.nav-menu-opener {
    position: fixed;
    top:2.5%;
    left: 2.5%;
    transition: 400ms;
    background: #00000044;
    z-index: 100;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.nav-opener-icon {
    font-size: 1.5rem;
    width: min-content;
    height: min-content;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-opener-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
}

.nav-menu-opener.nav-menu-opener-active {
    left: 60%;
    top: 0%;
}

.nav-menu-opener-active .nav-opener-icon:before {
    font-family: "Font Awesome 5 Free";
    content:"\f00d";
}

.secondary-content * {
    position: absolute;
}

.secondary-content-title {
    font-size: 7rem;
    color: #ffffff;
    top: 30%;
    left: 10%;
    transform: translateY(-50%);
}

.emphasis {
    font-size: 5rem;
    color: brown;
}

.secondary-content-descriptions {
    left: 10%;
    top: 55%;
    font-size: 1.5rem;
    transform: translateY(-50%);
    color: #ffffff;
}

.default_button {
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border:none;
    border-radius: 0.5rem;
    transition: 400ms;
}

#WWU_button {
    left: 10%;
    top: 55%;
    background: #313131;
    color: #ffffff;
}

#WWU_button:hover {
    background: #202020;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .secondary-content-descriptions {
        top: 43%;
    }
    #WWU_button {
        top: 43%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1366px){
    .secondary-content-descriptions {
        top: 45%;
    }
    #WWU_button {
        top: 44%;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px){
    .secondary-content-descriptions {
        top: 52%;
    }
    #WWU_button {
        top: 52%;
    }
}

/* Replace with video */
.video_placeholder {
    background: #00000033;
    min-height: 40%;
    max-width: 49%;
    right: 13%;
    top: 50%;
    transform: translateY(-50%);
}
