* {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.primary-content  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 400ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.secondary-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 400ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}

.primary-content-previous {
    top: -100%;
}

.primary-content-next {
    top: 100%;
}

.primary-content-current {
    top: 0%;
}

.secondary-content-previous {
    left: -100%;
}

.secondary-content-current {
    left: 0%;
}

.secondary-content-next {
    left: 100%;
}

nav.navigation-menu {
    width: 60%;
    height: 100%;
    background: #ffffff99;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 400ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;
}

nav.navigation-menu.navigation-active {
    left: 0;
}