* {
    padding: 0;
    margin: 0;
}

.primary-content-3 .img_bg {
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: -webkit-fill-available;
}

.secondary-content > img {
}
html, body {
    font-size: 100%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
/* 
@media only screen and (min-width: 768px) and (max-width: 991px){
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1366px){
    html {
        font-size: 75%;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px){
    html {
        font-size: 87.5%;
    }
} */
/* 
div {
    height: 100%;
    width: 100%;
} */

/* .mobile-only {
    visibility: hidden;
} */
/* 
.logo {
    visibility: visible;
} */


.primary-content  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 800ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

.secondary-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 800ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}

.secondary-content > * {
    width: 100%;
    height: 100%;
}

.primary-content-previous {
    top: -100%;
}

.primary-content-next {
    top: 100%;
}

.primary-content-current {
    top: 0%;
}

.secondary-content-previous {
    left: -100%;
    transform: scale(1.2);
}

.secondary-content-current {
    left: 0%;
}

.secondary-content-next {
    left: 100%;
}

.navigation-menu {
    width: 60%;
    height: 100%;
    background: #ffffffaa;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 400ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;
}
/* 
nav.navigation-menu.navigation-active {
    left: 0;
} */
/* 
.navigation-top {
    height: 10%;
    background: #00000033;
} */
/* 
.main-menu {
    height: 75%;
    column-count: 2;
    display: inline-flex;
    flex-flow: column wrap;
    background: #00000044;
}

@media only screen and (max-height: 550px) and (min-width: 768px){
    .main-menu {
        column-count: 3;
    }
}

.menu-item {
    height: initial;
    width: max-content;
    display: inline-grid;
    margin: 0 0 10px 0;
    padding-left: 10px;
    font-size: 1.5rem;
}

.menu-title {
    font-size: 3.5rem;
    text-decoration: none;
    color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    
}

@media only screen and (min-width: 992px) and (max-width: 1366px){
    .menu-title {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px){
    
}

.menu-title:hover {
    text-decoration: none;
    color: #ffffff;
}

.menu-sub-item {
    color:#ffffff99;
    font-size: 1.6rem;
    padding-left: 2rem;
    transition-duration: 400ms;
}

.menu-sub-item:hover {
    text-decoration: none;
    color: #ffffff;
}

.footer {
    height: 15%; 
    background: #00000055;
}

.logo {
    width: 60%;
    background: #00000044;
}

.login-signup {
    width: 40%;
    display: flex;
    background: #00000055;
    
}

.login-icon {
    background: red;
    height: 40%;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.login-text {
    color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
}

.signup-text {
    color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
}

.signup-icon {
    background: blue;
    height: 40%;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.logo-item {
    min-width: 20%;
    min-height: 40%;
    max-width: 60%;
    max-height: 80%;
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    background: yellowgreen;
} */

.primary-content-navigation {
    position: fixed;
    top: 50%;
    width: max-content;
    transform: translateY(-50%);
    right: 2.5%;
    max-height: 60%;
    z-index: 100;
}

.primary-nav-section {
    height: initial;
    width: max-content;
    margin: 0;
    margin-left: auto;
}

.secondary-content-navigation {
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    display: inline-flex;
    z-index: 2;
    height: max-content;
    width: max-content;
}

.secondary-navigation {
    width: 50px;
    height: 50px;
    background: #00000055;
    margin-left: 25px;
    cursor: pointer;
    transition: 400ms;
    border-radius: 0.6rem;
}

.secondary-navigation:hover {
    background: #00000088;
}

.secondary-navigation:hover i{
    color: #ffffff!important;
}

.transitioning:before {
    color: #ffffff!important;
    font-family: "Font Awesome 5 Free";
    content: "\f04c";
}

.paused:before {
    color: #999999!important;
    font-family: "Font Awesome 5 Free";
    content: "\f04b";
}

.secondary-navigation i{
    font-size: 25px;
    color: #999999;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary-navigation-previous i, .secondary-navigation-next i{
    font-size: 40px;
}

.section-switch-tooltip {
    display: inline-flex;
    justify-content: end;
    min-width: max-content;
    margin-bottom: 8px;
    transition: 400ms;
    width: 100%;
}

.section-switch-tooltip:hover .section-icon {
    background: #00000088;
    transform: scale(1);
}

.section-switch-tooltip:hover .section-title {
    opacity: 1;
    transform: scale(1);
}

.section-icon {
    background: #00000055;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    transition: 400ms;
    transform: scale(0.7);
    cursor: pointer;
}

.section-icon::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    color: #fff;
}

.section-title {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
    color: #ffffff;
    background: #00000033;
    padding: 5%;
    border-radius: 5%;
    transition: 400ms;
    opacity: 0;
    transform-origin: 150%;
    transform: scale(0);
    cursor: pointer;
    display: inline-block;
}
/* 
.nav-menu-opener {
    position: fixed;
    top:2.5%;
    left: 2.5%;
    transition: 400ms;
    background: #00000044;
    z-index: 100;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.nav-opener-icon {
    font-size: 1.5rem;
    width: min-content;
    height: min-content;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-opener-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
}

.nav-menu-opener.nav-menu-opener-active {
    left: 60%;
    top: 0%;
}

.nav-menu-opener-active .nav-opener-icon:before {
    font-family: "Font Awesome 5 Free";
    content:"\f00d";
} */

.secondary-content * {
    position: relative;
    object-fit: cover;
    object-position: center;
}

.video_placeholder > * {
    position: absolute;
    right: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.video_placeholder > img {
    width: inherit;
    height: auto;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 50%;
    min-width: 75%;
}

.scrim {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.secondary-content-title {
    font-size: 2.5rem;
    color: #6d6d6d;
    line-height: 144%;
    left: 0;
    /* transform: translateY(-50%); */
    /* filter: drop-shadow(2px 2px 4px black); */
}

.primary-content-3 .secondary-content-title {
    line-height: 4.5rem;
    color: #fff;
}

.emphasis {
    font-size: 3.5rem;
    color: #9c27b0;
    letter-spacing: -0.2rem;
}

.secondary-content-descriptions {
    font-size: 1.3rem;
    transform: translateY(-50%);
    color: #333;
    max-width: 50%;
    /* filter: drop-shadow(2px 1px 4px black); */
}

.primary-content-3 .secondary-content-descriptions {
    color: #fff;
    margin-top: 16px;
}

.background-black .secondary-content-descriptions {
    margin-top: 16px;
    max-width: initial;
}

.default_button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    border:none;
    border-radius: 0.5rem;
    transition: 400ms;
}

.primary-content-3 button {
    color: #9b27af;
    background: none;
    border: 1px solid #9b27af;
    border-radius: 4px;
}

button#work-button-tx {
    margin-left: 1rem;
}

.primary-content-3 button:hover {
    /* border: 1px solid #9b27af; */
    /* color: #9b27af; */
    /* filter: brightness(0.8); */
    background: #e1bee7;
}

.secondary-content button {
    background: none;
    color: #9b27af;
    border: 1px solid #9b27af;
}

.secondary-content button:hover {
    background: #e1bee7;
}

#WWU_button:hover {
}

/* @media only screen and (min-width: 768px) and (max-width: 991px){
    .secondary-content-descriptions {
        top: 55%;
    }
    #WWU_button {
        top: 55%;
    }
} */

/* @media only screen and (min-width: 992px) and (max-width: 1366px){
    .secondary-content-descriptions {
        top: 60%;
    }
    #WWU_button {
        top: 60%;
    }
} */

/* @media only screen and (min-width: 1367px) and (max-width: 1600px){
    .secondary-content-descriptions {
        top: 52%;
    }
    #WWU_button {
        top: 52%;
    }
} */

/* Replace with video */
.video_placeholder {
    /* background: #00000033; */
    min-height: 50%;
    max-height: 70%;
    /* max-width: 100%; */
    /* transform: translateY(-87%); */
    float: right;
    max-width: 70%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 70%;
}

.secondary-content-2 h3 {

/* font-size: 6rem; */
}

.secondary-content-2 .emphasis {
    /* font-size: 8rem; */
}

.secondary-content-2 p {margin-top: 1rem;}

#GAMES_button {

top: 65%;
}

.primary-content-2 button:hover {
    background: #e1bee7;
    color: #9b27af;
}

.primary-content-2 button {
    border: 1px solid #fff;
    color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    * {
        padding: 0;
        margin: 0;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    * {
        padding: 0;
        margin: 0;
    }
}
@media only screen and (max-width: 767px){
    .content-container {
        top: 40%;
    }
}
@media only screen and (max-width: 575px){
    * {
        padding: 0;
        margin: 0;
    }

.primary-content-navigation {
    transform: scale(0.7)!important;
}

    .background-black {
        left: 50%!important;
    }
}
@media only screen and (max-width: 991px){
    * {
        padding: 0;
        margin: 0;
    }

.primary-content-navigation {
    transform-origin: 100%;
    transform: scale(.9);
    transition: 300ms;
}

.background-black .secondary-content-title {
    margin: auto;
}

.secondary-content-navigation {
    transform: scale(0.7);
    transform-origin: bottom right;
}

p.secondary-content-descriptions {
    margin: auto;
}

.content-container {
    top: 40%;
    margin-top: 7rem;
}
    .video_placeholder {
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        float: initial;
        margin: auto;
        margin-bottom: 32px;
        width: 80%;
        max-width: initial;
        background: none;
        max-height: 30%;
    }
    .content-container {
        text-align: center;
    }
    .video_placeholder > * {
        object-fit: cover;
        object-position: center;
        height: -webkit-fill-available!important;
        position: initial;
        width: initial!important;
    }
}
@media only screen and (min-width: 1600px){
    * {
        padding: 0;
        margin: 0;
    }

    .video_placeholder {
        max-height: 80%;
    }
}

.background-black {
    background: #00000055;
    padding: 16px;
    height: max-content;
    width: max-content;
    min-width: 10%;
    min-height: initial;
    /* left: 35%; */
    /* top: 75%; */
}

.background-black > *{
    color: #fff;
}

.primary-content-2 .secondary-content-title {
    width: max-content;
}

.footer-hide {
    bottom: -100%!important;
}

.footer {
    position: fixed;
    bottom: 0;
    transition: 300ms;
}
