* {
    padding: 0;
    margin: 0;
}

.login-mobile {
    float: right;
    position: relative;
    transition: 300ms;
    cursor: pointer;
    min-width: 36px;
    min-height: 36px;
    line-height: 64px;
    margin: auto 24px;
    color: #fff;
    margin-top: calc(2rem - 1.125rem);
}

.login-mobile {
    display: none;
}

.login-mobile i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    display: flex;
    margin-left: 6rem;
    cursor: pointer;
}

.copy-right {
    font-size: 0.875rem;
    margin-left: 6rem;
    width: 63%;
}

img.cert {
    height: 64px;
    margin-left: 2rem;
}

.certificates {
    float: right;
    position: relative;
    top: calc(-50%);
}

.footer {
    height: 96px;
    padding: 0 6rem 0 0;
    background: #eee;
    width: 100%;
}

.social-media {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: max-content;
    margin: 0;
    margin-left: 2rem;
    cursor: pointer;
    transition: 300ms;
}

p.social-media:hover {
    transform: scale(1.5) translateY(-50%);
    transform-origin: top;
}

.nav-footer-right {
    float: right;
    padding-right: 4rem;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    height: 100%;
}

p.nav-footer-title {position: relative;top: 50%;transform: translateY(-50%);}

.nav-footer-left {
    float: left;
    color: #fff;
    font-size: 1.5rem;
    height: 100%;
}

.logo > img {
    height: 48px;
    margin: 8px 0 8px 16px;
}

.menu-opener {
    height: 100%;
    width: 4rem;
}

img.person-display-pic {
    height: 42px;
    width: 42px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0.75rem 0 0.75rem 1rem;
}

.loggedin-person {
    color: #fff;
    line-height: 64px;
    padding: 0 1rem;
    display: flex;
    cursor: pointer;
}

.nav-cart {
    min-width: 36px;
    min-height: 36px;
    line-height: 64px;
    margin: auto 1.5rem;
    color: #fff;
    margin-top: calc(2rem - 1.125rem);
}

.login-button {
    min-width: 64px;
    min-height: 36px;
    max-height: 64px;
    background: none;
    border: 1px solid #fff;
    color: white;
    padding: 4px 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: auto 16px;
    margin-top: 12px;
    border-radius: 4px;
    font-size: 16px;
    transition: 300ms;
    white-space: nowrap;
}

.login-button:hover {
    background: #999;
}

.login {
    float: right;
    margin-right: 4rem;
}

.nav-cart {
    float: right;
    position: relative;
    transition: 300ms;
    cursor: pointer;
}

.nav-cart:hover {
    opacity: 0.9;
}

.nav-cart i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-search {
    min-width: 36px;
    min-height: 36px;
    line-height: 64px;
    margin: auto 24px;
    color: #fff;
    margin-top: calc(2rem - 1.125rem);
}

.nav-search {
    float: right;
    position: relative;
    transition: 300ms;
    cursor: pointer;
}

.nav-search:hover {
    opacity: 0.9;
}

.nav-search i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-banner {
    width: 100%;
    position: fixed;
    height: 64px;
    top: 0;
    left: 0;
    background: #333;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    z-index: 1;
}

.nav-banner {
    /* background: transparent; */
}

.nav-banner > div {
    flex: 33.33%;
    height: 100%;
    display: flex;
}

.nav-right {
    flex-direction: row-reverse;
}

.nav-left {
    display: flex;
}


html, body {
    width: 100%;
    height: 100%;
}

/* The overlay effect with black background */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}
  
/* The content */
.overlay-content {
position: relative;
top: 10%;
width: 80%;
text-align: center;
margin-top: 30px;
margin: auto;
}

/* Close button */
.overlay .closebtn {
position: absolute;
top: 1.25rem;
right: 3.25rem;
font-size: 2rem;
cursor: pointer;
color: white;
width: 48px;
height: 48px;
text-align: center;
transition: 300ms;
}

.overlay .closebtn:hover {
opacity: 0.9;
}

/* Style the search field */
.overlay input[type=text] {
padding: 1rem;
font-size: 1.25rem;
border: none;
float: left;
width: 80%;
background: white;
border-radius: 4px 0 0 4px;
transition: 300ms;
height: 4rem;
}

.overlay input[type=text]:hover {
background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
float: left;
width: 20%;
padding: 1rem;
background: purple;
font-size: 1.25rem;
border: none;
cursor: pointer;
color: #fff;
height: 4rem;
transition: 300ms;
}

.overlay button:hover {
background: #400040;
}

.autocomplete-suggestion {
height: 3rem;
background: #fff;
padding: 16px;
cursor: pointer;
transition: 300ms;
border-bottom: 0.5px solid #999;
}

.autocomplete-suggestion:hover {
background: #f1f1f1;
}
.hide {
    display: none!important;
}

.autocomplete-suggestions { 
    /* border: 1px solid #999;  */
    background: #fff; 
    overflow: auto; }

.autocomplete-selected { 
    background: #f1f1f1; 
}
.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
}
.autocomplete-group { 
    padding: 2px 5px; 
}

.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}

/* Menuing */
.nav-menu-opener {
    position: fixed;
    transition: 400ms;
    /* background: #00000044; */
    height: 48px;
    width: 48px;
    cursor: pointer;
    margin-left: 3rem;
    margin-top: 0.5rem;
    z-index: 1000000;
}

.nav-menu-opener-active {
    color: #333;
    position: fixed;
}

.nav-opener-icon {
    font-size: 1.5rem;
    width: min-content;
    height: min-content;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-menu-opener-active i {
    color: #333;
}

.nav-opener-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
}

.nav-menu-opener-active .nav-opener-icon:before {
    font-family: "Font Awesome 5 Free";
    content:"\f00d";
}


.navigation-menu {
    width: 65%;
    height: 100%;
    background: #ffffffaa;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 400ms;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;
}

nav.navigation-menu.navigation-active {
    left: 0;
}

.navigation-top {
    height: 10%;
    background: #fff;
}

.main-menu {
    height: 75%;
    column-count: 2;
    display: inline-flex;
    flex-flow: column wrap;
    background: #fff;
    padding: 1rem 4rem;
}

.menu-item {
    height: initial;
    width: max-content;
    display: inline-grid;
    margin: 0 0 10px 0;
    padding-left: 10px;
    font-size: 1.5rem;
}

.menu-title {
    font-size: 2.5rem;
    text-decoration: none;
    color: #333;
    transition: 600ms;
}

.menu-title:hover {
    text-decoration: none;
    color: #999;
}

.menu-sub-item {
    color: #6d6d6d;
    font-size: 1.6rem;
    padding-left: 2rem;
    transition-duration: 400ms;
}

.menu-sub-item:hover {
    text-decoration: none;
    color: #ddd;
}

.nav-footer {
    height: 15%;
    background: #333;
    padding-left: 4rem;
}

.footer .logo {/* float: left; */}


.login-signup {
    width: 40%;
    display: flex;
    background: #00000055;
    
}

.login-icon {
    background: red;
    height: 40%;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.login-text {
    color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
}

.signup-text {
    color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
}

.signup-icon {
    background: blue;
    height: 40%;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.logo-item {
    min-width: 20%;
    min-height: 40%;
    max-width: 60%;
    max-height: 80%;
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    background: yellowgreen;
}

@media only screen and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
    }

.login-button {
    display: none;
}

.login-mobile {
    display: block;
}

p.person-name {
    display: none;
}

    .navigation-menu {
        width: 100%;
    }

    html {
        font-size: 12px;
    }

    .nav-menu-opener-active i {
        color: #333;
    }
}

@media only screen and (max-width: 576px) {
    * {
        padding: 0;
        margin: 0;
    }

.main-menu {
    padding: 1rem;
}

.nav-menu-opener {
    margin-left: 0;
}

.logo {
    margin-left: 4rem;
}

.logo > img {
    margin-left: 0;
}

.nav-menu-opener.nav-menu-opener-active {
    margin-left: 0;
}
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    * {
        padding: 0;
        margin: 0;
    }

.navigation-menu {
    width: 80%;
}

    html {
        font-size: 14px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    * {
        padding: 0;
        margin: 0;
    }

    .copy-right {
        width: 80%;
    }

}